
  <!-- Start search box -->
  <div id="mu-search">
    <div class="mu-search-area">      
      <button class="mu-search-close"><span class="fa fa-close"></span></button>
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <form class="mu-search-form">
              <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End search box -->
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Gallery</h2>
           <ol class="breadcrumb">
            <li><a href="#">Bosh Sahifa</a></li>            
            <li class="active">Gallery</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <!-- Start gallery  -->
 <section id="mu-gallery">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-gallery-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Bazi Lahzalar</h2>
            <p> Mijoz uchun adipissing jarayoniga e'tibor berish juda muhimdir. Oqsoqollar mashaqqatli tana og'rig'iga, mas'uliyatga, biz boshqa vaqt uchun ayblaymiz!</p>
          </div>
          <!-- end title -->
          <!-- start gallery content -->
          <div class="mu-gallery-content">
            <!-- Start gallery menu -->
            <div class="mu-gallery-top">              
              <ul>
                <li class="filter active" data-filter="all">Hammasi</li>
                <!-- <li class="filter" data-filter=".lab">Labarotoriya</li>
                <li class="filter" data-filter=".classroom">Sinf xonasi</li>
                <li class="filter" data-filter=".library">Kutubxona</li>
                <li class="filter" data-filter=".cafe">Kafe</li>
                <li class="filter" data-filter=".others">Boshqalar</li> -->
              </ul>
            </div>
            <!-- End gallery menu -->
            <div class="mu-gallery-body">
              <ul id="mixit-container" class="row">
                <!-- start single gallery image -->
                <% Imgs.forEach(img => { %>
                    <li class="col-md-4 col-sm-6 col-xs-12 mix lab">
                        <div class="mu-single-gallery">                  
                          <div class="mu-single-gallery-item">
                            <div class="mu-single-gallery-img">
                              <a href="#"><img alt="img" src="assets/img/gallery/small/<%= img.imgName %>"></a>
                            </div>
                            <div class="mu-single-gallery-info">
                              <div class="mu-single-gallery-info-inner">
                                <h4><%= img.name %></h4>
                                <p><%= img.Webdisagn %></p>
                                <a href="assets/img/gallery/big/<%= img.imgName %>" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                                <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                              </div>
                            </div>                  
                          </div>
                        </div>
                      </li>
                <% }) %>
              </ul>            
            </div>
          </div>
          <!-- end gallery content -->
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End gallery  -->
 