1<!-- Start footer -->
<footer id="mu-footer">
  <!-- start footer top -->
  <div class="mu-footer-top">
    <div class="container">
      <div class="mu-footer-top-area">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="mu-footer-widget">
              <h4>Ma `lumot</h4>
              <ul>
                <li><a href="#">Biz Haqimizda</a></li>
                <li><a href="">Xususiyatlari</a></li>
                <li><a href="">Kurs</a></li>
                <li><a href="">Tadbir</a></li>
                <li><a href="">Sayt xaritasi</a></li>
                <li><a href="">Foydalanish muddati</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="mu-footer-widget">
              <h4>Talabalarga yordam</h4>
              <ul>
                <li><a href="">Boshlash</a></li>
                <li><a href="#">Mening savollarim</a></li>
                <li><a href="">Fayllarni yuklab olish</a></li>
                <li><a href="">Eng so'nggi kurs</a></li>
                <li><a href="">Akademik yangiliklar</a></li>                  
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="mu-footer-widget">
              <h4>YANGILIK XAT</h4>
              <p>Eng so'nggi yangilanishlar, yangiliklar va akademik takliflarni oling</p>
              <form class="mu-subscribe-form">
                <input type="email" placeholder="Elektron pochtangizni kiriting">
                <button class="mu-subscribe-btn" type="submit">Obuna boʻling!</button>
              </form>               
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="mu-footer-widget">
              <h4>Contact</h4>
              <address>
                <p>P.O. Box 320, Ross, California 9495, USA</p>
                <p>Phone: (415) 453-1568 </p>
                <p>Website: www.markups.io</p>
                <p>Email: info@markups.io</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer top -->
  <!-- start footer bottom -->
  <div class="mu-footer-bottom">
    <div class="container">
      <div class="mu-footer-bottom-area">
        <p>&copy; All Right Reserved. Designed by <a href="http://www.markups.io/" rel="nofollow">MarkUps.io</a></p>
      </div>
    </div>
  </div>
  <!-- end footer bottom -->
</footer>
<!-- End footer -->

<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
