 <!--START SCROLL TOP BUTTON -->
 <a class="scrollToTop" href="#">
  <i class="fa fa-angle-up"></i>      
</a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start header  -->
<header id="mu-header">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="mu-header-area">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="mu-header-top-left">
              <div class="mu-top-email">
                <i class="fa fa-envelope">rayimberdiyevhojiakbar08@gmail.com</i>
                <span></span>
              </div>
              <div class="mu-top-phone">
                <i class="fa fa-phone">(+998) 88 888 88 88</i>
                <span></span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="mu-header-top-right">
              <nav>
                <ul class="mu-top-social-nav">
                  <li><a href="/"><span class="fa fa-facebook"></span></a></li>
                  <li><a href="/"><span class="fa fa-twitter"></span></a></li>
                  <li><a href="/"><span class="fa fa-google-plus"></span></a></li>
                  <li><a href="https://instagram.com/_rayimberdiyev_08/" target="_blank"><span class="fa fa-instagram"></span>_rayimberdiyev_08</a></li>
                  <li><a href="/"><span class="fa fa-youtube"></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header  -->
  <!-- Start menu -->
  <section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->              
          <!-- TEXT BASED LOGO -->
          <a class="navbar-brand" href="/"><i class="fa fa-university"></i><span>maktab</span></a>
          <!-- IMG BASED LOGO  -->
          <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <% if (!user) { %>
              <li class="active"><a href="/singin">SingIn</a></li> 
              <li class="active"><a href="/singup">SingUp</a></li>            

            <% } else { %>
              <li class="active"><a href="/">Bosh sahifa</a></li>            
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kurs <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/coursearchive">Kurs arxiv</a></li>                
                    <li><a href="/detail">Kurs tafsilotlar</a></li>                
                  </ul>
                </li>           
                <li><a href="/gallery">Galerya</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/blogarchive">Blog arxiv</a></li>                
                    <li><a href="/single">Blog Single</a></li>                
                  </ul>
                </li>            
                <li><a href="/contact">Aloqa</a></li>    
                <li><a href="/popularnews">Popular news</a></li>
                <% if(!user){%>
                  <li class="active"><a href="/logout">LogOut</a></li>            
                <%}else {%> 
                  <li class="active"><a href="/user">User</a></li>
                <%}%>
            <% } %>
                   
            <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
          </ul>                     
        </div><!--/.nav-collapse -->        
      </div>     
    </nav>
  </section>

  <!-- End menu -->

  <!-- End menu -->

