<div class="col-md-3">
    <!-- start sidebar -->
    <aside class="mu-sidebar">
      <!-- start single sidebar -->
      <div class="mu-single-sidebar">
        <h3>Categories</h3>
        <ul class="mu-sidebar-catg">
          <li><a href="#">Web Design</a></li>
          <li><a href="">Web Development</a></li>
          <li><a href="">Math</a></li>
          <li><a href="">Physics</a></li>
          <li><a href="">Camestry</a></li>
          <li><a href="">English</a></li>
        </ul>
      </div>
      <!-- end single sidebar -->
      <!-- start single sidebar -->
      
      <div class="mu-single-sidebar">
        <h3>Top 3 News</h3>
        <% top3.forEach(top => {%>
        <div class="mu-sidebar-popular-courses">
          <div class="media">
            <div class="media-left">
              <a href="<%= top.link%>">
                <img class="media-object" src="assets/img/blog/<%= top.file_name%>" alt="img">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><a href="<%= top.link%>"><%= top.title%></a></h4>                      
            </div>
          </div>
        </div>
        <% }) %>
      </div>
 </div>